name: go-build
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: "1.25.7"
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: build
        run: go build ./...
      - name: test
        run: go test -timeout=5m -race -coverprofile=c.out ./...
