name: go-build
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24.6"
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: build
        run: go build ./...
      - name: test
        run: go test -timeout=5m -race -coverprofile=c.out ./...
